form{
    background-color: #891652;
    width: 350px;
    padding: 15px 25px;
    margin: 30px auto;
    border-radius: 15px;
    text-align: center;
    color: #EABE6C;
    input, select, textarea{
        display: flex;
        width: 100%;
        margin-bottom: 15px;
        padding: 5px 10px;
        border-radius: 6px;
        border: 1px solid lightgray;
    }
    textarea{
        height: 150px;
    }
    input[type="submit"]{
        width: 40%;
        position: relative;
        left: 180px;
        padding: 10px;
        cursor: pointer;
        transition: .5s;
        font-weight: bold;
        letter-spacing: 1px;
       
        &:hover{
            background-color: #240A34;
            color: #EABE6C;
            text-transform: uppercase;
        }
    }
}